<button mat-raised-button color="primary" routerLink="">Menu</button>
<button mat-raised-button color="primary" (click)="createDataByCategories()">By categories</button>
<button mat-raised-button color="primary" (click)="createDataByDifficulties()">By difficulties</button>

<!-- <table *ngIf="showData" mat-table [dataSource]="dataSource" class="mat-elevation-z8 stat-table">
    
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>

    <ng-container matColumnDef="difficulty">
        <th mat-header-cell *matHeaderCellDef> Dificulty </th>
        <td mat-cell *matCellDef="let element"> {{element.difficulty}} </td>
      </ng-container>
  
    <ng-container matColumnDef="questions">
      <th mat-header-cell *matHeaderCellDef> Questions </th>
      <td mat-cell *matCellDef="let element"> {{element.questions}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="good_answers">
      <th mat-header-cell *matHeaderCellDef> Good Answers </th>
      <td mat-cell *matCellDef="let element"> {{element.good_answers}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="percentage">
      <th mat-header-cell *matHeaderCellDef> Percentage </th>
      <td mat-cell *matCellDef="let element"> {{element.percentage}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->

<table mat-table *ngIf="showData"
    [dataSource]="dataSource" multiTemplateDataRows
    class="mat-elevation-z8">

        <!-- data columns -->
    <ng-container  matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>
        <!-- expand colunm -->
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="expand row" (click)="(expandedElement = (expandedElement === element) ? null : element); $event.stopPropagation()">
          <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
        <div class="stat-detail"
            [@detailExpand]="(element === expandedElement) ? 'expanded' : 'collapsed'">
            <table *ngIf="showData" mat-table [dataSource]="element.allStat" class="mat-elevation-z8 stat-table">
    
              <ng-container matColumnDef="difficulty">
                  <th mat-header-cell *matHeaderCellDef> Dificulty </th>
                  <td mat-cell *matCellDef="let stat"> {{stat.difficulty}} </td>
                </ng-container>
            
              <ng-container matColumnDef="questions">
                <th mat-header-cell *matHeaderCellDef> Questions </th>
                <td mat-cell *matCellDef="let stat"> {{stat.questions}} </td>
              </ng-container>
            
              <ng-container matColumnDef="good_answers">
                <th mat-header-cell *matHeaderCellDef> Good Answers </th>
                <td mat-cell *matCellDef="let stat"> {{stat.good_answers}} </td>
              </ng-container>
            
              <ng-container matColumnDef="percentage">
                <th mat-header-cell *matHeaderCellDef> Percentage </th>
                <td mat-cell *matCellDef="let stat"> {{stat.percentage}} </td>
              </ng-container>
            
              <tr mat-row *matRowDef="let row; columns: displayedColumnsExtended;"></tr>
            </table> 
        </div>
      </td>
    </ng-container>


  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand; sticky: true"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = (expandedElement === element) ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

</table>