.menu{
    color: rgb(61, 207, 207);
    height: 700px;
    width: 100%;
    margin :0%;
    padding: 0%;
}

.menu-title{
    text-align: center;
    padding: 40px;
    margin: 0;
    font-size: 20px;
}

.menu-countainer{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10%;
}

.trivia-title{
    text-align: center;
    font-size: large;
}
.trivia-all{
    margin-left: 5%;
}
.trivia-choises{
   display: flex;
}
.trivia-choise{
    margin-left : 5%; 
    padding: 10px;
 }
.trivia-button{
    text-align: center;
}

.menu-geo{
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.geo-choice{
    display: flex;
    flex-direction: row;
}
.geo-map{
    display: flex;
    gap: 10%;
}
.geo-button{
    display: flex;
    gap: 5px;
}

.stat{
    margin: 10px;
}