<div>

    <button class="map-button" mat-raised-button color="warn" routerLink="">Menu</button>
    <button class="map-button" mat-raised-button color="warn" (click)="onReset()">Restart</button>

    <div class="map-countainer">
        <ejs-maps id='rn-container' [zoomSettings]='zoomSettings'>
            <e-layers>
                <e-layer [shapeData]='shapeData' [shapePropertyPath]='shapePropertyPath' [shapeDataPath]='shapeDataPath'
                    [dataSource]='dataSource' [shapeSettings]='shapeSettings' >

                </e-layer>
            </e-layers>
        </ejs-maps>
        <div class="capital-question">
            <div>Find all the states : {{counter}} /50</div>
            <div>
                <form>
                    <mat-form-field appearance="fill">
                        <mat-label>State</mat-label>
                        <input type="text" placeholder="Try one" aria-label="Number" matInput [(ngModel)]="formValue"
                            (input)="handleInput()">
                    </mat-form-field>
                </form>
            </div>
            <div *ngIf="isOver">Congrats! You find all the states !!</div>
            <div *ngIf="isOver">
                <button class="capital-answer" mat-raised-button routerLink="">
                    Menu Return
                </button>
                <button class="capital-answer" mat-raised-button (click)="onReset()">
                    Again ?
                </button>
            </div>

        </div>

    </div>
</div>