<div class="flag">
    <img src="../../assets/logo_qG.png" routerLink="">


    <div class="capital-question">
        <div>
            <mat-slide-toggle [(ngModel)]="isFlag" disabled="{{!answered}}" color="primary">
                Find the {{(isFlag) ? "Flag" : "Country"}}
            </mat-slide-toggle>

            <div class="capital-question">Question : {{answerCounter}} / {{questionNB}} </div>
            <div class="capital-question">Find {{counter}} flags</div>
            <div class="flag-question">
                <img *ngIf="!isFlag" class="flag-img" src={{correctURL}} alt="a country flag (maybe Kosovo)">
                <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/3/36/Flag_of_Albania.svg" > -->
                <!-- <img src="https://countryflagsapi.com/png/DE" > -->

            </div>
            <div *ngIf="!isFlag" class="capital-question">Guess the country of this flag ?</div>
            <div *ngIf="isFlag" class="capital-question">Which is the flag of {{correctReponse.country}} ?
            </div>
        </div>

        <div *ngIf="isFlag">

            <button *ngIf="index0" disabled="{{answered}}" class="capital-answer" mat-raised-button
                [ngClass]="{'blue' : !answered, 'green': answered }" (click)="onAnswer(true)">
                <img class="flag-img" src={{correctURL}} alt="a country flag (maybe Kosovo)">
            </button>
            <button class="capital-answer" disabled="{{answered}}" mat-raised-button
                [ngClass]="{'blue' : !answered, 'red': answered && !isCorrect}" (click)="onAnswer(false)">
                <img class="flag-img" src={{createURL(otherResponse[0].code)}} alt="a country flag (maybe Kosovo)">
            </button>
            <button *ngIf="index1" disabled="{{answered}}" class="capital-answer" mat-raised-button
                [ngClass]="{'blue' : !answered, 'green': answered }" (click)="onAnswer(true)">
                <img class="flag-img" src={{correctURL}} alt="a country flag (maybe Kosovo)">
            </button>
            <button class="capital-answer" disabled="{{answered}}" mat-raised-button (click)="onAnswer(false)"
                [ngClass]="{'blue' : !answered, 'red': answered && !isCorrect}">
                <img class="flag-img" src={{createURL(otherResponse[1].code)}} alt="a country flag (maybe Kosovo)">
            </button>
            <button *ngIf="index2" disabled="{{answered}}" class="capital-answer" mat-raised-button
                [ngClass]="{'blue' : !answered, 'green': answered }" (click)="onAnswer(true)">
                <img class="flag-img" src={{correctURL}} alt="a country flag (maybe Kosovo)">
            </button>
            <button class="capital-answer" mat-raised-button (click)="onAnswer(false)"
                [ngClass]="{'blue' : !answered, 'red': answered && !isCorrect}" disabled="{{answered}}">
                <img class="flag-img" src={{createURL(otherResponse[2].code)}} alt="a country flag (maybe Kosovo)">
            </button>
            <button *ngIf="index3" class="capital-answer" mat-raised-button
                [ngClass]="{'blue' : !answered, 'green': answered}" (click)="onAnswer(true)" disabled="{{answered}}">
                <img class="flag-img" src={{correctURL}} alt="a country flag (maybe Kosovo)">
            </button>
        </div>

        <div *ngIf="!isFlag">
            <button *ngIf="index0" disabled="{{answered}}" class="capital-answer" mat-raised-button
                [ngClass]="{'blue' : !answered, 'green': answered}" (click)="onAnswer(true)">
                {{(isFlag) ? correctReponse.capital : correctReponse.country}}
            </button>
            <button class="capital-answer" disabled="{{answered}}" mat-raised-button
                [ngClass]="{'blue' : !answered, 'red': answered && !isCorrect}" (click)="onAnswer(false)">
                {{(isFlag) ? otherResponse[0].capital : otherResponse[0].country}}
            </button>
            <button *ngIf="index1" class="capital-answer" disabled="{{answered}}" mat-raised-button
                (click)="onAnswer(true)" [ngClass]="{'blue' : !answered, 'green': answered}">
                {{(isFlag) ? correctReponse.capital : correctReponse.country}}
            </button>
            <button class="capital-answer" disabled="{{answered}}" mat-raised-button (click)="onAnswer(false)"
                [ngClass]="{'blue' : !answered, 'red': answered && !isCorrect}">
                {{(isFlag) ? otherResponse[1].capital : otherResponse[1].country}}
            </button>
            <button *ngIf="index2" disabled="{{answered}}" class="capital-answer" mat-raised-button
                [ngClass]="{'blue' : !answered, 'green': answered }" (click)="onAnswer(true)">
                {{(isFlag) ? correctReponse.capital : correctReponse.country}}
            </button>
            <button class="capital-answer" mat-raised-button (click)="onAnswer(false)"
                [ngClass]="{'blue' : !answered, 'red': answered && !isCorrect}" disabled="{{answered}}">
                {{(isFlag) ? otherResponse[2].capital : otherResponse[2].country}}
            </button>
            <button *ngIf="index3" class="capital-answer" mat-raised-button
                [ngClass]="{'blue' : !answered, 'green': answered}" (click)="onAnswer(true)" disabled="{{answered}}">
                {{(isFlag) ? correctReponse.capital : correctReponse.country}}
            </button>
        </div>


        <div *ngIf="answered && !isOver">
            <button class="capital-answer" mat-raised-button (click)="nextQuestion()">
                Next Question
            </button>
        </div>
        <div *ngIf="isOver">
            <button class="capital-answer" mat-raised-button routerLink="">
                Menu Return
            </button>
            <button class="capital-answer" mat-raised-button (click)="nextSerie()">
                New Questions
            </button>
        </div>
    </div>
</div>